In [44]:
import pymongo
import sys
import importlib
import pandas as pd
sys.path.append(r'C:\Users\Bouchra\Documents\Master\S2\noSQL\project\ScraperExample-master')

In [2]:
import dao.mongodb_dao
importlib.reload(dao.mongodb_dao)
from dao.mongodb_dao import MongoDbDao

In [3]:
import app_config

In [4]:
mongo_dao = MongoDbDao(app_config.db_conn_string)

In [5]:
df = mongo_dao.get_df_from_db(collection_name=app_config.collection_name, no_id=False)

In [45]:
df.head(5)

,url,title,body,published,tag_text,month,id_month
0,https://www.bbc.com/news/world-middle-east-529...,Nabeel Rajab: Bahraini human rights activist f...,Bahrain has released a leading human rights ac...,9 June 2020,World,June,6
1,https://www.bbc.com/news/world-europe-52977739...,Spain ex-king Juan Carlos probed over Saudi ra...,Spain's Supreme Court has launched an investig...,9 June 2020,World,June,6
2,https://www.bbc.com/news/world-latin-america-5...,Discovering Colombia's rare flora and fauna,Colombia's tropical rainforests have been disa...,7 June 2020,World,June,6
3,https://www.bbc.com/news/world-australia-52900...,Indigenous deaths in custody: Why Australians ...,Anger over the death of George Floyd has sprea...,5 June 2020,World,June,6
4,https://www.bbc.com/news/world-latin-america-5...,Coronavirus: Hard-hit Brazil removes data amid...,Brazil has removed months of data on Covid-19 ...,7 June 2020,World,June,6

In [47]:
id_month = []

In [48]:
for index, row in df.iterrows():
    if row['month'] == "January":
        id_month.append("1-January")
    elif row['month'] == "February":
        id_month.append("2-February")
    elif row['month'] == "March":
        id_month.append("3-March")
    elif row['month'] == "April":
        id_month.append("4-April")
    elif row['month'] == "May":
        id_month.append("5-May")
    elif row['month'] == "June":
        id_month.append("6-June")

In [49]:
id_month

['6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '4-April',
 '5-May',
 '2-February',
 '3-March',
 '3-March',
 '5-May',
 '3-March',
 '5-May',
 '6-June',
 '3-March',
 '3-March',
 '6-June',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '6-June',
 '6-June',
 '1-January',
 '5-May',
 '5-May',
 '5-May',
 '1-January',
 '2-February',
 '1-January',
 '2-February',
 '5-May',
 '3-March',
 '3-March',
 '3-March',
 '2-February',
 '3-March',
 '6-June',
 '2-February',
 '4-April',
 '5-May',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '2-February',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '3-March',
 '3-March',
 '4-April',
 '6-June',
 '3-March',
 '3-March',
 '6-June',
 '3-March',
 '3-March',
 '5-May',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '5-May',
 '5-May',
 '6-June',
 '5-May',
 '4-April',
 '4-April',
 '3-March',
 '3-March',
 '5-May',
 '5-May',
 '5-May',
 '3-March',
 '3-March',
 '5-May',
 '4-April',
 '3-March',
 '5-May',
 '5-May',
 '3-March',
 '4-April',
 '5-May',
 '5-May',
 '3-March',
 '3-March',
 '5-May',
 '3-March',
 '3-March',
 '1-January',
 '5-May',
 '3-March',
 '4-April',
 '4-April',
 '5-May',
 '5-May',
 '6-June',
 '6-June',
 '3-March',
 '4-April',
 '1-January',
 '5-May',
 '5-May',
 '5-May',
 '4-April',
 '6-June',
 '4-April',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '4-April',
 '5-May',
 '5-May',
 '1-January',
 '1-January',
 '6-June',
 '4-April',
 '5-May',
 '4-April',
 '5-May',
 '5-May',
 '4-April',
 '6-June',
 '3-March',
 '3-March',
 '4-April',
 '5-May',
 '6-June',
 '6-June',
 '3-March',
 '3-March',
 '4-April',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '3-March',
 '4-April',
 '4-April',
 '2-February',
 '2-February',
 '5-May',
 '5-May',
 '4-April',
 '3-March',
 '4-April',
 '4-April',
 '4-April',
 '1-January',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '1-January',
 '5-May',
 '5-May',
 '4-April',
 '2-February',
 '4-April',
 '6-June',
 '5-May',
 '5-May',
 '4-April',
 '5-May',
 '1-January',
 '3-March',
 '2-February',
 '6-June',
 '6-June',
 '3-March',
 '3-March',
 '5-May',
 '4-April',
 '1-January',
 '2-February',
 '1-January',
 '5-May',
 '5-May',
 '3-March',
 '2-February',
 '3-March',
 '2-February',
 '2-February',
 '1-January',
 '2-February',
 '1-January',
 '2-February',
 '2-February',
 '1-January',
 '2-February',
 '2-February',
 '4-April',
 '4-April',
 '4-April',
 '3-March',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '1-January',
 '5-May',
 '3-March',
 '4-April',
 '4-April',
 '5-May',
 '4-April',
 '3-March',
 '4-April',
 '4-April',
 '6-June',
 '5-May',
 '3-March',
 '2-February',
 '3-March',
 '5-May',
 '6-June',
 '6-June',
 '2-February',
 '5-May',
 '2-February',
 '2-February',
 '5-May',
 '5-May',
 '5-May',
 '2-February',
 '4-April',
 '4-April',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '5-May',
 '5-May',
 '5-May',
 '3-March',
 '6-June',
 '3-March',
 '6-June',
 '5-May',
 '5-May',
 '3-March',
 '3-March',
 '3-March',
 '5-May',
 '4-April',
 '3-March',
 '4-April',
 '3-March',
 '3-March',
 '6-June',
 '2-February',
 '1-January',
 '3-March',
 '3-March',
 '5-May',
 '3-March',
 '2-February',
 '4-April',
 '2-February',
 '4-April',
 '4-April',
 '4-April',
 '1-January',
 '2-February',
 '1-January',
 '3-March',
 '3-March',
 '6-June',
 '6-June',
 '6-June',
 '1-January',
 '6-June',
 '4-April',
 '3-March',
 '5-May',
 '5-May',
 '3-March',
 '3-March',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '5-May',
 '3-March',
 '2-February',
 '4-April',
 '4-April',
 '6-June',
 '6-June',
 '2-February',
 '4-April',
 '3-March',
 '5-May',
 '3-March',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '2-February',
 '2-February',
 '5-May',
 '5-May',
 '5-May',
 '4-April',
 '5-May',
 '5-May',
 '4-April',
 '1-January',
 '3-March',
 '5-May',
 '2-February',
 '1-January',
 '1-January',
 '2-February',
 '2-February',
 '2-February',
 '2-February',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '2-February',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '6-June',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '3-March',
 '5-May',
 '6-June',
 '6-June',
 '2-February',
 '2-February',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '3-March',
 '3-March',
 '6-June',
 '3-March',
 '4-April',
 '5-May',
 '5-May',
 '6-June',
 '3-March',
 '6-June',
 '6-June',
 '6-June',
 '3-March',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '6-June',
 '5-May',
 '5-May',
 '6-June',
 '4-April',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '2-February',
 '6-June',
 '5-May',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '4-April',
 '2-February',
 '4-April',
 '3-March',
 '4-April',
 '4-April',
 '3-March',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '5-May',
 '5-May',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '2-February',
 '5-May',
 '5-May',
 '1-January',
 '2-February',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '3-March',
 '3-March',
 '2-February',
 '1-January',
 '1-January',
 '3-March',
 '5-May',
 '2-February',
 '4-April',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '6-June',
 '2-February',
 '3-March',
 '3-March',
 '5-May',
 '1-January',
 '2-February',
 '3-March',
 '5-May',
 '1-January',
 '5-May',
 '3-March',
 '1-January',
 '5-May',
 '2-February',
 '5-May',
 '2-February',
 '5-May',
 '2-February',
 '2-February',
 '2-February',
 '2-February',
 '5-May',
 '5-May',
 '5-May',
 '2-February',
 '2-February',
 '2-February',
 '2-February',
 '3-March',
 '1-January',
 '3-March',
 '3-March',
 '3-March',
 '5-May',
 '5-May',
 '2-February',
 '2-February',
 '5-May',
 '1-January',
 '6-June',
 '5-May',
 '5-May',
 '2-February',
 '4-April',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '5-May',
 '4-April',
 '4-April',
 '6-June',
 '4-April',
 '3-March',
 '2-February',
 '3-March',
 '3-March',
 '5-May',
 '3-March',
 '6-June',
 '5-May',
 '6-June',
 '6-June',
 '2-February',
 '5-May',
 '4-April',
 '2-February',
 '6-June',
 '2-February',
 '4-April',
 '2-February',
 '1-January',
 '2-February',
 '3-March',
 '1-January',
 '1-January',
 '2-February',
 '2-February',
 '1-January',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '4-April',
 '4-April',
 '4-April',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '3-March',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '6-June',
 '1-January',
 '4-April',
 '2-February',
 '4-April',
 '4-April',
 '6-June',
 '2-February',
 '2-February',
 '4-April',
 '1-January',
 '1-January',
 '4-April',
 '6-June',
 '5-May',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '6-June',
 '3-March',
 '5-May',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '4-April',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '4-April',
 '4-April',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '4-April',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '4-April',
 '6-June',
 '3-March',
 '4-April',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '4-April',
 '4-April',
 '3-March',
 '4-April',
 '4-April',
 '2-February',
 '3-March',
 '2-February',
 '4-April',
 '2-February',
 '3-March',
 '3-March',
 '2-February',
 '2-February',
 '3-March',
 '1-January',
 '1-January',
 '1-January',
 '5-May',
 '5-May',
 '3-March',
 '6-June',
 '6-June',
 '3-March',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '5-May',
 '3-March',
 '5-May',
 '5-May',
 '3-March',
 '3-March',
 '5-May',
 '5-May',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '4-April',
 '6-June',
 '5-May',
 '4-April',
 '1-January',
 '2-February',
 '2-February',
 '2-February',
 '2-February',
 '1-January',
 '2-February',
 '1-January',
 '1-January',
 '5-May',
 '5-May',
 '5-May',
 '4-April',
 '5-May',
 '5-May',
 '3-March',
 '6-June',
 '5-May',
 '4-April',
 '5-May',
 '6-June',
 '5-May',
 '4-April',
 '4-April',
 '1-January',
 '6-June',
 '5-May',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '4-April',
 '6-June',
 '5-May',
 '5-May',
 '5-May',
 '2-February',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '4-April',
 '4-April',
 '6-June',
 '4-April',
 '5-May',
 '2-February',
 '6-June',
 '6-June',
 '5-May',
 '5-May',
 '2-February',
 '3-March',
 '6-June',
 '5-May',
 '4-April',
 '6-June',
 '4-April',
 '4-April',
 '5-May',
 '2-February',
 '2-February',
 '5-May',
 '6-June',
 '5-May',
 '5-May',
 '2-February',
 '5-May',
 '2-February',
 '6-June',
 '6-June',
 '5-May',
 '6-June',
 '4-April',
 '6-June',
 '6-June',
 '6-June',
 '4-April',
 '4-April',
 '3-March',
 '4-April',
 '3-March',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '5-May',
 '6-June',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '6-June',
 '6-June',
 '4-April',
 '6-June',
 '3-March',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '6-June',
 '5-May',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '3-March',
 '4-April',
 '4-April',
 '4-April',
 '4-April',
 '3-March',
 '4-April',
 '3-March',
 '4-April',
 '4-April',
 '3-March',
 '3-March',
 '4-April',
 '5-May',
 '4-April',
 '2-February',
 '2-February',
 '4-April',
 '5-May',
 '5-May',
 '2-February',
 '5-May',
 '5-May',
 '2-February',
 '2-February',
 '5-May',
 '5-May',
 '6-June',
 '5-May',
 '5-May',
 '2-February',
 '5-May',
 '5-May',
 '2-February',
 '6-June',
 '6-June',
 '5-May',
 '1-January',
 '1-January',
 '6-June',
 '1-January',
 '2-February',
 '2-February',
 '2-February',
 '6-June',
 '6-June',
 '3-March',
 '1-January',
 '1-January',
 '1-January',
 '1-January',
 '5-May',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '2-February',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '3-March',
 '1-January',
 '6-June',
 '6-June',
 '6-June',
 '2-February',
 '2-February',
 '2-February',
 '1-January',
 '1-January',
 '1-January',
 '1-January',
 '1-January',
 '2-February',
 '4-April',
 '3-March',
 '1-January']

In [50]:
df['id_month'] = id_month

In [51]:
df.head()

,url,title,body,published,tag_text,month,id_month
0,https://www.bbc.com/news/world-middle-east-529...,Nabeel Rajab: Bahraini human rights activist f...,Bahrain has released a leading human rights ac...,9 June 2020,World,June,6-June
1,https://www.bbc.com/news/world-europe-52977739...,Spain ex-king Juan Carlos probed over Saudi ra...,Spain's Supreme Court has launched an investig...,9 June 2020,World,June,6-June
2,https://www.bbc.com/news/world-latin-america-5...,Discovering Colombia's rare flora and fauna,Colombia's tropical rainforests have been disa...,7 June 2020,World,June,6-June
3,https://www.bbc.com/news/world-australia-52900...,Indigenous deaths in custody: Why Australians ...,Anger over the death of George Floyd has sprea...,5 June 2020,World,June,6-June
4,https://www.bbc.com/news/world-latin-america-5...,Coronavirus: Hard-hit Brazil removes data amid...,Brazil has removed months of data on Covid-19 ...,7 June 2020,World,June,6-June

In [56]:
df.sort_values(by=['id_month'], inplace=True)

In [57]:
df

,url,title,body,published,tag_text,month,id_month
919,https://www.bbc.com/news/world-us-canada-51215...,US election 2020: Democratic candidates on att...,"Until recently, the biggest disputes among the...",22 January 2020,US & Canada,January,1-January
185,https://www.bbc.com/news/business-51106886?int...,Santander latest bank to set 40% overdraft rate,Millions of people with Santander's popular cu...,14 January 2020,Business,January,1-January
676,https://www.bbc.com/news/world-australia-51231983,Australia fires: US crew killed in air tanker ...,Three US firefighters who died when their air ...,24 January 2020,World,January,1-January
677,https://www.bbc.com/news/world-australia-51008051,Australia fires: What's being done to fight th...,Large parts of Australia have been devastated ...,23 January 2020,World,January,1-January
678,https://www.bbc.com/news/world-australia-50497492,Australia bushfires: Pollution concerns for te...,When tennis player Dalila Jakupovic was unable...,17 January 2020,World,January,1-January
...,...,...,...,...,...,...,...
606,https://www.bbc.com/news/uk-england-leeds-5292...,Veteran Jeffrey Long embarks on care home char...,An 88-year-old former paratrooper is walking t...,4 June 2020,England,June,6-June
243,https://www.bbc.com/news/business-52934481?int...,Coronavirus: Government under fire for cheap l...,The government has been criticised for handing...,5 June 2020,Business,June,6-June
600,https://www.bbc.com/news/uk-england-leeds-5292...,Veteran Jeffrey Long embarks on care home char...,An 88-year-old former paratrooper is walking t...,4 June 2020,England,June,6-June
756,https://www.bbc.com/news/uk-england-beds-bucks...,"Coronavirus: Adelie Foods to close with 2,000 ...",One of Britain's largest sandwich makers is ce...,2 June 2020,England,June,6-June
0,https://www.bbc.com/news/world-middle-east-529...,Nabeel Rajab: Bahraini human rights activist f...,Bahrain has released a leading human rights ac...,9 June 2020,World,June,6-June

In [24]:
for index, row in df.iterrows():
    print(row['month'])

June
June
June
June
June
June
June
May
April
May
February
March
March
May
March
May
June
March
March
June
May
June
June
June
June
May
June
June
January
May
May
May
January
February
January
February
May
March
March
March
February
March
June
February
April
May
March
March
March
March
February
April
April
April
April
March
March
April
June
March
March
June
March
March
May
March
March
March
March
March
May
May
June
May
April
April
March
March
May
May
May
March
March
May
April
March
May
May
March
April
May
May
March
March
May
March
March
January
May
March
April
April
May
May
June
June
March
April
January
May
May
May
April
June
April
May
May
May
June
April
May
May
January
January
June
April
May
April
May
May
April
June
March
March
April
May
June
June
March
March
April
June
June
May
May
May
March
April
April
February
February
May
May
April
March
April
April
April
January
June
May
May
May
May
June
January
May
May
April
February
April
June
May
May
April
May
January
March
February
June
June
March
March
May
April
January
February
January
May
May
March
February
March
February
February
January
February
January
February
February
January
February
February
April
April
April
March
June
May
May
May
May
January
May
March
April
April
May
April
March
April
April
June
May
March
February
March
May
June
June
February
May
February
February
May
May
May
February
April
April
May
May
May
June
April
April
April
April
May
May
May
March
June
March
June
May
May
March
March
March
May
April
March
April
March
March
June
February
January
March
March
May
March
February
April
February
April
April
April
January
February
January
March
March
June
June
June
January
June
April
March
May
May
March
March
May
May
May
May
June
May
March
February
April
April
June
June
February
April
March
May
March
May
May
May
May
February
February
May
May
May
April
May
May
April
January
March
May
February
January
January
February
February
February
February
June
June
June
June
June
June
June
June
June
June
June
June
June
June
June
June
June
February
June
June
June
June
June
June
May
June
May
June
June
June
June
June
June
June
June
June
June
March
May
June
June
February
February
May
May
May
May
May
June
June
June
June
June
May
June
June
June
June
May
May
June
June
June
June
March
March
June
March
April
May
May
June
March
June
June
June
March
May
June
June
June
May
June
May
May
June
April
June
June
June
June
June
June
June
June
June
June
May
May
May
May
May
May
May
February
June
May
April
April
April
April
May
May
May
May
April
February
April
March
April
April
March
April
April
April
April
April
April
April
May
May
June
June
May
May
February
May
May
January
February
May
June
June
June
June
June
June
June
June
March
March
February
January
January
March
May
February
April
June
June
June
June
March
March
March
March
June
February
March
March
May
January
February
March
May
January
May
March
January
May
February
May
February
May
February
February
February
February
May
May
May
February
February
February
February
March
January
March
March
March
May
May
February
February
May
January
June
May
May
February
April
May
May
May
May
June
May
April
April
June
April
March
February
March
March
May
March
June
May
June
June
February
May
April
February
June
February
April
February
January
February
March
January
January
February
February
January
May
May
May
May
May
April
April
April
May
May
May
May
March
April
April
April
April
April
June
January
April
February
April
April
June
February
February
April
January
January
April
June
May
May
June
June
June
May
June
March
May
May
June
June
June
June
May
May
April
June
June
June
June
June
June
May
April
April
June
June
June
May
May
May
April
June
May
May
May
May
May
April
June
March
April
June
June
June
May
April
April
March
April
April
February
March
February
April
February
March
March
February
February
March
January
January
January
May
May
March
June
June
March
June
June
May
May
May
June
May
March
May
May
March
March
May
May
June
June
June
June
June
June
June
June
June
June
June
May
May
May
May
May
May
May
May
June
April
June
May
April
January
February
February
February
February
January
February
January
January
May
May
May
April
May
May
March
June
May
April
May
June
May
April
April
January
June
May
June
May
May
May
May
April
June
May
May
May
February
June
June
June
June
April
April
June
April
May
February
June
June
May
May
February
March
June
May
April
June
April
April
May
February
February
May
June
May
May
February
May
February
June
June
May
June
April
June
June
June
April
April
March
April
March
May
May
May
May
May
May
May
June
April
April
April
April
April
April
June
June
April
June
March
June
June
June
June
June
May
April
April
April
April
March
April
April
April
April
March
April
March
April
April
March
March
April
May
April
February
February
April
May
May
February
May
May
February
February
May
May
June
May
May
February
May
May
February
June
June
May
January
January
June
January
February
February
February
June
June
March
January
January
January
January
May
March
March
March
March
March
March
March
March
March
March
February
March
March
March
March
March
March
January
June
June
June
February
February
February
January
January
January
January
January
February
April
March
January

In [7]:
import numpy as np

df.replace("?", np.nan, inplace = True)
df.head(5)

,_id,url,title,body,published,tag_text,year
0,5ec03b0a69260713549f4a55,https://www.bbc.com/news/10628994,The BBC News app gives you the best of BBC New...,With the latest news and analysis from our jou...,24 November 2017,None,2017
1,5ec03b0a69260713549f4a56,https://www.bbc.com/news/uk-northern-ireland-5...,Coronavirus: NI being eased 'back to normality...,The executive is working to ease Northern Irel...,15 May 2020,N. Ireland,2020
2,5ec03b0b69260713549f4a57,https://www.bbc.com/news/explainers-52544307,Coronavirus: What are the new travel quarantin...,A two-week quarantine period for people arrivi...,15 May 2020,Explainers,2020
3,5ec03b0c69260713549f4a58,https://www.bbc.com/news/newsbeat-52556784?int...,Eurovision: How coronavirus changed the 2020 s...,"Back in February, James Newman stepped onto a ...",11 May 2020,Newsbeat,2020
4,5ec03b0c69260713549f4a59,https://www.bbc.com/news/world-latin-america-5...,Coronavirus: Crew on virus-hit cruise ship all...,Crew members from the coronavirus-hit cruise s...,13 May 2020,World,2020

In [8]:
missing_data = df.isnull()
missing_data.head(5)

     _id    url  title   body  published  tag_text   year
0  False  False  False  False      False      True  False
1  False  False  False  False      False     False  False
2  False  False  False  False      False     False  False
3  False  False  False  False      False     False  False
4  False  False  False  False      False     False  False

In [9]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

_id
False    1057
Name: _id, dtype: int64

url
False    1057
Name: url, dtype: int64

title
False    1057
Name: title, dtype: int64

body
False    1057
Name: body, dtype: int64

published
False    1057
Name: published, dtype: int64

tag_text
False    1051
True        6
Name: tag_text, dtype: int64

year
False    1057
Name: year, dtype: int64

In [10]:
# simply drop whole row with NaN in "tag_text" column
df.dropna(subset=["tag_text"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [11]:
df.dtypes

_id          object
url          object
title        object
body         object
published    object
tag_text     object
year          int64
dtype: object

In [15]:
df.to_csv("scraped_news.csv")

In [12]:
df

,_id,url,title,body,published,tag_text,year
0,5ec03b0a69260713549f4a56,https://www.bbc.com/news/uk-northern-ireland-5...,Coronavirus: NI being eased 'back to normality...,The executive is working to ease Northern Irel...,15 May 2020,N. Ireland,2020
1,5ec03b0b69260713549f4a57,https://www.bbc.com/news/explainers-52544307,Coronavirus: What are the new travel quarantin...,A two-week quarantine period for people arrivi...,15 May 2020,Explainers,2020
2,5ec03b0c69260713549f4a58,https://www.bbc.com/news/newsbeat-52556784?int...,Eurovision: How coronavirus changed the 2020 s...,"Back in February, James Newman stepped onto a ...",11 May 2020,Newsbeat,2020
3,5ec03b0c69260713549f4a59,https://www.bbc.com/news/world-latin-america-5...,Coronavirus: Crew on virus-hit cruise ship all...,Crew members from the coronavirus-hit cruise s...,13 May 2020,World,2020
4,5ec03b0d69260713549f4a5a,https://www.bbc.com/news/world-latin-america-5...,Dozens dead in Mexico after drinking adulterat...,Police in Mexico are searching for the source ...,13 May 2020,World,2020
...,...,...,...,...,...,...,...
1046,5ec03dc369260713549f4e71,https://www.bbc.com/news/uk-england-somerset-5...,Coronavirus: Holburne Museum sets Â£50k fundrai...,A 130-year-old art museum at risk of permanent...,19 April 2020,England,2020
1047,5ec03dc369260713549f4e72,https://www.bbc.com/news/uk-politics-52606981,Coronavirus: Job losses 'break my heart' - Sunak,"Chancellor Rishi Sunak has spoken of the ""hear...",12 May 2020,Politics,2020
1048,5ec03dc469260713549f4e73,https://www.bbc.com/news/uk-52626822,Coronavirus: PM 'not expecting' flood of peopl...,"A ""sudden big flood"" of people returning to wo...",11 May 2020,UK,2020
1049,5ec03dc469260713549f4e74,https://www.bbc.com/news/uk-england-nottingham...,VE Day: The enemy soldiers left in Britain aft...,The parties and bunting of VE Day marked the e...,8 May 2020,England,2020
1050,5ec03dc469260713549f4e75,https://www.bbc.com/news/uk-england-somerset-5...,VE Day: Plea to name Somerset road after WWII ...,A petition has been set up to have a road name...,7 May 2020,England,2020

In [52]:
del df['_id']
df.head()

KeyError: '_id'

In [58]:
mongo_dao.upload_df(df,collection_name=app_config.collection_name)

In [54]:
df

,url,title,body,published,tag_text,month,id_month
0,https://www.bbc.com/news/world-middle-east-529...,Nabeel Rajab: Bahraini human rights activist f...,Bahrain has released a leading human rights ac...,9 June 2020,World,June,6-June
1,https://www.bbc.com/news/world-europe-52977739...,Spain ex-king Juan Carlos probed over Saudi ra...,Spain's Supreme Court has launched an investig...,9 June 2020,World,June,6-June
2,https://www.bbc.com/news/world-latin-america-5...,Discovering Colombia's rare flora and fauna,Colombia's tropical rainforests have been disa...,7 June 2020,World,June,6-June
3,https://www.bbc.com/news/world-australia-52900...,Indigenous deaths in custody: Why Australians ...,Anger over the death of George Floyd has sprea...,5 June 2020,World,June,6-June
4,https://www.bbc.com/news/world-latin-america-5...,Coronavirus: Hard-hit Brazil removes data amid...,Brazil has removed months of data on Covid-19 ...,7 June 2020,World,June,6-June
...,...,...,...,...,...,...,...
915,https://www.bbc.com/news/world-africa-51063149,Trump says he deserves Nobel Peace Prize not A...,US President Donald Trump seems to think that ...,10 January 2020,World,January,1-January
916,https://www.bbc.com/news/world-us-canada-51345...,Congresswoman Rashida Tlaib regrets booing Hil...,Congresswoman Rashida Tlaib says she regrets b...,2 February 2020,US & Canada,February,2-February
917,https://www.bbc.com/news/world-us-canada-52224...,Linda Tripp: Woman who revealed Clinton-Lewins...,An American civil servant whose disclosure of ...,8 April 2020,US & Canada,April,4-April
918,https://www.bbc.com/news/world-us-canada-51769...,Bill Clinton claims Monica Lewinsky affair was...,Former President Bill Clinton says his affair ...,6 March 2020,US & Canada,March,3-March
919,https://www.bbc.com/news/world-us-canada-51215...,US election 2020: Democratic candidates on att...,"Until recently, the biggest disputes among the...",22 January 2020,US & Canada,January,1-January